body {
    margin: 0 auto;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background: #65869f;
    min-height: 100%;
    /*or 100vh */
    position: relative;
}

.hide-display {
    display: none;
}

h1,
h2,
legend {
    font-family: 'Quicksand', sans-serif;
    font-size: 32px;
}

h2 {
    color: #b1cbbb;
}

a {
    text-decoration: none;
    color: #7e9a9a;
}

a:visited {
    color: #7e9a9a;
}

button {
    margin: 5px;
    background: white;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #b1cbbb;
}

.reflections-button {
    display: inline-block;
    background: none;
    border: 1px solid black;
}

div {
    padding: 10px;
}

section {
    margin: 30px;
    padding: 10px;
    background: white;
    text-align: center;
}

.section-header {
    color: #b1cbbb;
    margin: 10px;
}

.start-page p {
    color: #898281;
    font-size: 16px;
}

.error {
    color: red;
}


/*****HEADER*****/

header h1 {
    font-size: 40px;
    color: #7e9a9a;
    margin-bottom: 1px;
}

header {
    width: 100%;
    margin-bottom: 20px;
    padding: 5px;
    background: white;
    box-shadow: 0 0 10px black;
}

header p {
    margin: 0;
    padding: 10px;
}

header div.header-container {
    display: inline-block;
}


/*****FORMS*****/

form fieldset {
    border: none;
    margin: 20px;
}

.login,
.signup {
    text-align: center;
}

form label {
    text-align: justify;
}

label {
    margin: 10px;
    font-weight: 500;
}

input,
select,
textarea {
    margin: 15px;
}

fieldset {
    padding: 10px;
}

ul {
    list-style: none;
    margin: 0;
    padding: 10px;
    overflow: hidden;
}

navigation ul li {
    display: inline;
    text-align: center;
}

.start-page p {
    margin-bottom: 50px;
}

textarea {
    width: 300px;
    height: 150px;
}


/*****NAVIGATION *****/

div.navigation-buttons {
    margin: 0 auto;
}

.nav-button {
    background: rgba(177, 203, 187, 0.5);
    border-radius: 7px;
    border: 0px solid #b1cbbb;
    padding: 7px;
    color: white;
}


/*****ENTRIES*****/

.reflection-info {
    font-weight: 500;
    display: inline
}

.reflection-text {
    color: #898281;
    display: inline
}

#entries {
    border: 1px solid #898281;
    background: rgba(177, 203, 187, 0.2);
    border-radius: 15px 0 15px 0;
    margin: 15px;
}

#entries button {
    background: white;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #b1cbbb;
}

.current-reflection h2 {
    font-size: 20px;
    color: #65869f;
}


/*****FOOTER****/

footer {
    background-color: white;
    height: 175px;
    padding: 20px;
    margin-top: 50px;
    box-shadow: 0 0 10px black;
    text-align: center;
}


/*****RESPONSIVE*****/

* {
    box-sizing: border-box;
}

.row {
    max-width: 1000px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0 auto;
}

@media screen and (min-width: 640px) {
    .col-3 {
        width: 30%;
        display: inline-block;
        vertical-align: text-top;
    }
}
