* {
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
    background: #65869f;
}

h1,
h2,
legend {
    font-family: 'Quicksand', sans-serif;
    font-size: 32px;
}

header h1 {
    font-size: 40px;
    color: #f2b995;
    margin-bottom: 1px;
}

a {
    text-decoration: none;
    color: #f2b995;
}

a:visited {
    color: #f2b995;
}

form fieldset {
    border: none;
}

.login,
.signup {
    text-align: center;
}

header {
    width: 100%;
    margin: 0;
    padding: 5px;
    background: white;
    box-shadow: 0 0 10px black;
}

header p {
    margin-bottom: 5px;
    padding: 10px;
}

form label {
    text-align: justify;
}

input {
    margin: 0;
}

header div.header-container {
    display: inline-block;
}

.start-page {
    text-align: center;
}

.start-page p {
    color: #898281;
    font-size: 16px;
}

section {
    margin: 30px;
    padding: 10px;
    background: white;
    text-align: center;
}

label {
    margin: 10px;
    font-weight: 500;
}

input,
select,
textarea {
    margin: 15px;
}

fieldset {
    padding: 10px;
}

.section-header {
    color: #f2b995;
    margin: 10px;
}

.reflections-button {
    display: inline-block;
    background: none;
    border: 1px solid black;
}

.hide-display {
    display: none;
}

div {
    padding: 10px;
}

button {
    margin: 5px;
}

ul {
    list-style: none;
    margin: 0;
    padding: 10px;
    overflow: hidden;
}

ul li {
    display: inline;
    text-align: center;
}

div.navigation-buttons {
    display: inline-block;
    text-align: right;
}

.nav-button {
    background: none;
    border: 1px solid black;
}

.row {
    width: 1000px;
    margin: 0 auto;
}
